{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>
        Figures Volume and Surface Area Calculator
    </h1>
    <br href='/figures/pyramid'><button type="button">Pyramid</button></br>
    <br href='/figures/sphere'><button type="button">Sphere</button></br>
    <br href='/figures/cone'><button type="button">Cone</button></br>
    <br href='/figures/cylinder'><button type="button">Cylinder</button></br>
    <br href='/figures/prisms'><button type="button">Rectangular/Triangular Prisms</button></br>
{% endblock %}