{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>
        HOME
    </h1>
    <p>
        This is Special Calculator, which is a special calculator that is very special because
        it is a calculator to do your work when you're too busy. It contains multiple functions
        to calculate special things like quadratic equations, and volume/surface area of solids.
        <br>
        <br>
        Also, if you're feel lacking on a subject, use our award-winning(perhaps maybe possibly)
        Special Training feature to practice math skills and check your answers.
    </p>
    <img id="eq" src="https://cache.desktopnexus.com/thumbseg/116/116138-bigthumbnail.jpg" alt="Doug">
{% endblock %}