{% extends "layout.html" %}

{% block title %}
    Prism
{% endblock %}

{% block main %}
    <script>
       function show() {
            document.getElementById("explanation").hidden = false;
       }

       function hide() {
            document.getElementById("explanation").hidden = true;
       }
    </script>

    <h1>Prism</h1>
    <img src="https://www.onlinemathlearning.com/image-files/triangular-rectangular-prism.png" alt="Pris">


    <form action="/solids/prism" method="post">
        <label for="A" class="labeel">Height: </label><br>
        <input type="number" id="A" name="height" autocomplete="off" value="Number" step="any"><br><br>
        <label for="B" class="labeel">Base Area: </label><br>
        <input type="number" id="B" name="area" autocomplete="off" value="Number" step="any"><br><br>
        <label for="C" class="labeel">Base Perimeter:</label><br>
        <input type="number" id="C" name="perimeter" autocomplete="off" value="Number" step="any"><br><br>
        <input type="submit" value="Calculate">
        <input type="reset"><br><br>
    </form>

    {% if sol is defined %}
        <label class="solution">Surface Area: {{ sol[0] }}u&sup2;</label><br>
        <label class="solution">Volume: {{ sol[1] }}u&sup3;</label>
        <br><button onclick="show()">Show Me How</button><br>
        <div id="explanation" hidden>
            <h1 for="eq">Surface Area: </h1><br>
            <img style="width: 384px; height: 182px;" src="https://www.ontrack-media.net/geometry/gm4l7image21.jpg" alt="Prism Equation"><br><br>
            <label class="labeel">Input Numbers: </label><br>
            <h2>2&times;{{ pers[2] }}&plus;{{ pers[1] }}{{ pers[3] }}</h2><br><br>
            <label class="labeel">Solve: </label><br>
            <h2>Surface Area: {{ sol[0] }}</h2><br><br>

            <h1 for="eq">Volume: </h1><br>
            <img src="https://cdn.discordapp.com/attachments/766869137090936852/977983642657771520/unknown.png" alt="Prism Equation"><br><br>
            <label class="labeel">Input Numbers: </label><br>
            <h2>{{ pers[2] }}&times;{{ pers[1] }}</h2><br><br>
            <label class="labeel">Solve: </label><br>
            <h2>Volume: {{ sol[1] }}</h2><br><br>
            <button onclick="hide()">Hide</button>
    {% endif %}
{% endblock %}