{% extends "layout.html" %}

{% block title %}
    Quadratics Practice
{% endblock %}

{% block main %}
    <script>
       function show() {
            document.getElementById("explanation").hidden = false;
       }

       function hide() {
            document.getElementById("explanation").hidden = true;
       }
    </script>

    <h1>Quadratics Practice</h1>
    <h2>(ax&sup2;+bx+c)</h2><br><br>
    <h1>{{ abc[0] }}x&sup2;+{{ abc[1] }}x+{{ abc[2] }}=0</h1><br><br><br>

    <button onclick="show()">Show Me How</button><br>
    <div id="explanation" hidden>
        {% if len == 1 %}
            <label class="solution">{{ sol[0] }}</label>
        {% else %}
            <label class="solution">Solutions: {{ sol[0] }} and {{ sol[1] }}</label>
        {% endif %}


        <br><br><label for="eq" class="labeel">Quadratic Equation: </label><br>
        <img id="eq" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/00c22777378f9c594c71158fea8946f2495f2a28" alt="Quadratic Equation"><br><br>
        <label class="labeel">Input Numbers: </label><br>
        <h2>x=(-{{ abc[1] }}&plusmn;&radic;{{ abc[1] }}&sup2;-4&times;{{ abc[0] }}&times;{{ abc[2] }})/2&times;{{ abc[0] }}</h2><br><br>
        <label class="labeel">Simplify: </label><br>
        <h2>x=(-{{ abc[1] }}+&radic;{{ abc[1]*abc[1] - 4*abc[0]*abc[2] }})/{{ 2*abc[0] }} and x=(-{{ abc[1] }}-&radic;{{ abc[1]*abc[1] - 4*abc[0]*abc[2] }})/{{ 2*abc[0] }}</h2>
        <label class="labeel">Solve: </label><br>
        {% if len == 1 %}
            <h2>x={{ sol[0] }}</h2>
        {% else %}
            <h2>x={{ sol[0] }} and {{ sol[1] }}</h2>
        {% endif %}
        <button onclick="hide()">Hide</button>
    </div>
{% endblock %}