{% extends "layout.html" %}

{% block title %}
    Shapes
{% endblock %}

{% block main %}
    <h1>
        Shapes Perimeter and Area Calculator
    </h1><br>
    <div class="grid-container">
        <div class="grid-item">
            <form action='/shapes/quadrilateral' method="get">
                <button type="submit">Quadrilaterals</button>
            </form>
        </div>
        <div class="grid-item">
            <form action='/shapes/circle' method="get">
                <button type="submit">Circles</button>
            </form>
        </div>
        <div class="grid-item">
            <form action='/shapes/triangle' method="get">
                <button type="submit">Triangles</button>
            </form>
        </div>
        <div class="grid-item">
            <form action="/shapes/regularpolygons" method="get">
                <button type="submit">Regular Polygons</button>
            </form>
        </div>
    </div>
{% endblock %}