{% extends "layout.html" %}

{% block title %}
    Solids
{% endblock %}

{% block main %}
    <h1>
        Solids Volume and Surface Area Calculator
    </h1>
    <div class="grid-container">
        <div class="grid-item">
            <form actions=""
        </div>
        <div class="grid-item">2</div>
        <div class="grid-item">3</div>
        <div class="grid-item">4</div>
        <div class="grid-item">5</div>
        <div class="grid-item">6</div>
        <div class="grid-item">7</div>
        <div class="grid-item">8</div>
        <div class="grid-item">9</div>
    </div>
    <div href='/solids/pyramid'><button type="button">Pyramid</button></div>
    <br href='/solids/sphere'><button type="button">Sphere</button></br>
    <br href='/solids/cone'><button type="button">Cone</button></br>
    <br href='/solids/cylinder'><button type="button">Cylinder</button></br>
    <br href='/solids/prisms'><button type="button">Rectangular/Triangular Prisms</button></br>
{% endblock %}