{% extends "layout.html" %}

{% block title %}
    Solids
{% endblock %}

{% block main %}
    <h1>
        Solids Volume and Surface Area Calculator
    </h1><br>
    <div class="grid-container">
        <div class="grid-item">
            <form action="/solids/pyramid" method="get">
                <button type="submit">Pyramids</button>
            </form>
        </div>
        <div class="grid-item">
            <form action="/solids/sphere" method="get">
                <button type="submit">Spheres</button>
            </form>
        </div>
        <div class="grid-item">
            <form action="/solids/cone" method="get">
                <button type="submit">Cones</button>
            </form>
        </div>
        <div class="grid-item">
            <form action="/solids/cylinder" method="get">
                <button type="submit">Cylinders</button>
            </form>
        </div>
        <div class="grid-item">
            <form action="/solids/prisms" method="get">
                <button type="submit">Prisms</button>
            </form>
        </div>
    </div>
{% endblock %}